
@media screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
    }

    #desktop-nav-bar{
        display: none;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background: #0267B1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 50px;
    }
    
    .overlay-content {
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }
    
    .overlay-content a {
        margin-top: 15px;
        padding: 8px;
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #FFFFFF;
        display: block;
        transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    
    .overlay .closebtn {
        width: 100%;
        text-align: center;
        font-size: 60px;
        text-decoration: none;
        color: #f1f1f1;
    }

    #mobile-nav-bar-box{
        width: 100%;
        height: 62px;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        min-width: 375px;
        margin-bottom: 10px;
        transition: top 0.3s;
    }

    #nav-bar-icon{
        height: 40px;
        width: 40px;
        cursor: pointer;
        position: fixed;
        right: 10vw;
        top: 10px;
        z-index: 1;
        transition: top 0.3s;
        border: 2px solid #FFFFFF;
        border-radius: 3px;
    }
    
    

    #mobile-nav-logo{
        position: fixed;
        top: 10px;
        left: 5vw;
        z-index: 1;
        padding-left: 10px;
        transition: top 0.3s;
    }

    #mobile-nav-logo img{
        width: 205px;
        height: 40px;
    }






    #carousel-section{
        width: 100%;
        height: 310px;
    }

    section{
        padding: 25px;
        background: rgba(255, 255, 255, 0.35);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        min-width: 375px;
    }

    .section-heading{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 25px;
    }

    .section-content{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    #product-tiles-container{
        display:flex;
        flex-wrap: wrap;
        align-content: space-between;
        width: 100%;
        min-width: 375px
    }

    .product-tile{
        margin: 25px 25px 0 0 ;
        width: 160px;
        height: 150px;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .product-image-container{
        height: 93px;
        width: 129px;
        margin: 19px 19px 10px 19px;
        display: flex;
        justify-content: center;
    }

    .product-image-container img{
        max-height: 93px;
        max-width: 129px;
        border-radius: 10px;
    }

    .product-tile-name{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #000000;
    }

    .large-carousel-cell img {
        max-height: 310px;
    }

    .mini-carousel-container{
        height: 100px;
        width: 95%;
        margin: 0 auto;
    }
    
    .mini-carousel{
        height: 100px;
        width: 100%;
        margin: 0;
    }
    
    .mini-carousel-cell {
        height: 100px;
        width: 100px;
        background: #FFFFFF;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        border-radius: 5px;
        margin-left: 27px;
      }
    
    
      .mini-carousel-cell img{
        width: 94px;
        height: 94px;
        margin: 3px;
      }

      #bottom-bar{
        margin: 10px auto;
        width: 100%;
        box-shadow: none;
        text-align: center;
        align-items: center;
      }

      #bottom-bar ul{
        width: 200px !important;
        min-width: 150px !important;
        text-align: center;
        align-items: center;
        margin: auto;
      }

      #bottom-bar li{
        margin: 25px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        align-items: center;
        text-align: center;
        color: #000000;
      }

      #bottom-bar ul a{
        text-decoration: none;
    }

    /*  Background colors */

    .bg-pyellow{
        background: #FFF0A3;
    }

    .bg-pgreen{
        background: #B0FFA3;
    }

    .bg-ppink{
        background: #FFA3B9;
    }

    .bg-lblue{
        background: #64E3FF;
    }

    .bg-pink1{
        background: #D685FC;
    }

    .bg-porange{
        background: #FFCA64;
    }

    .bg-blue{
        background: #64ABFF;
    }

    .bg-ppurple{
        background: #C0A3FF;
    }
}
